app = "jetlag-game"
primary_region = "ams"

[build]
  dockerfile = "Dockerfile"

[build.args]
  VITE_MAPBOX_TOKEN = ""

[env]
  NODE_ENV = "production"
  PORT = "8080"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0

[[http_service.checks]]
  grace_period = "10s"
  interval = "30s"
  method = "GET"
  path = "/api/config"
  timeout = "5s"
